All validator documentation is available on GitHub.

Please refer to the following links for additional information:

Description	Link
Framework overview	https://github.com/validator-labs
Installation and usage	https://github.com/validator-labs/validator/blob/main/README.md

The current version of validatorctl is {{ .Version }}.

It supports the following versions of validator and validator plugins:

Name	Version	URL
{{- range $name, $version := .Plugins }}
{{ $name }}	{{ $version }}	https://github.com/validator-labs/{{ $name }}
{{- end}}
