{{- $cert_location := "/usr/local/share/ca-certificates" -}}
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
networking:
  podSubnet: {{ .Env.PodCIDR }}
  serviceSubnet: {{ .Env.ServiceIPRange }}
  disableDefaultCNI: false
nodes:
- role: control-plane
  image: {{ .Image }}
{{- $insecure := .RegistryInsecure }}
{{- if or .Env.ProxyCACert.Path (and .RegistryEndpoint (eq $insecure "false")) }}
  extraMounts:
{{- end }}
{{- if .Env.ProxyCACert.Path }}
  - hostPath: {{ .Env.ProxyCACert.Path }}
    containerPath: {{ printf "%s/%s" $cert_location .Env.ProxyCACert.Name }}
{{- end }}
{{- if .RegistryEndpoint }}
{{- if and (eq $insecure "false") (not .ReusedProxyCACert) }}
  - hostPath: /etc/docker/certs.d/{{ .RegistryEndpoint }}/{{ .RegistryCACertName }}
    containerPath: {{ printf "%s/%s" $cert_location .RegistryCACertName }}
{{- end }}
containerdConfigPatches:
  - |-
    {{- if and .RegistryPassword .RegistryUsername }}
    [plugins."io.containerd.grpc.v1.cri".registry.configs."{{ .RegistryEndpoint }}".auth]
      password = "{{ .RegistryPassword }}"
      username = "{{ .RegistryUsername }}"
    {{- end }}
    [plugins."io.containerd.grpc.v1.cri".registry.configs."{{ .RegistryEndpoint }}".tls]
    {{- if eq $insecure "true" }}
      insecure_skip_verify = {{ $insecure }}
    {{- else }}
      ca_file = "{{ printf "%s/%s" $cert_location .RegistryCACertName }}"
    {{- end }}
    {{- range .RegistryMirrors }}
    {{- $registryMirror := split "::" . }}
    [plugins."io.containerd.grpc.v1.cri".registry.mirrors."{{ $registryMirror._0 }}"]
      {{- if eq $insecure "true" }}
      endpoint = ["http://{{ $registryMirror._1 }}"]
      {{- else }}
      endpoint = ["{{ $registryMirror._1 }}"]
      {{- end }}
    {{- end }}
{{- end }}