name: Release

on:
  push:
    branches:
      - main
      - '[0-9]+.[0-9]+.x'

defaults:
  run:
    shell: bash

jobs:
  release-please:
    permissions:
      contents: write  # for google-github-actions/release-please-action to create release commit
      pull-requests: write  # for google-github-actions/release-please-action to create release PR
    runs-on: [self-hosted, Linux, X64, validator]
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - uses: googleapis/release-please-action@a02a34c4d625f9be7cb89156071d8567266a2445 # v4
        id: release
        with:
          token: ${{ secrets.PAT }}
          
  build-binaries:
    if: needs.release-please.outputs.releases_created == 'true'
    needs:
      - release-please
    runs-on: [self-hosted, Linux, X64, validator]
    permissions:
      contents: write
      packages: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          submodules: recursive

      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
        with:
          cache: false
          go-version-file: go.mod

      - name: Build binaries
        run: |
          VERSION_SUFFIX="" make build-release

      - name: Generate SBOM
        uses: anchore/sbom-action@df80a981bc6edbc4e220a492d3cbe9f5547a6e75 # v0.17.9
        env:
          SBOM_NAME: validator-linux-amd64-${{ needs.release-please.outputs.tag_name }}
        with:
          file: ./bin/validator-linux-amd64
          artifact-name: sbom-validator
          output-file: ./sbom-validator.spdx.json

      - name: Attach artifacts to release
        uses: softprops/action-gh-release@c95fe1489396fe8a9eb87c0abf8aa5b2ef267fda # v2
        with:
          tag_name: ${{ needs.release-please.outputs.tag_name }}
          files: |
            ./bin/validator-darwin-arm64
            ./bin/validator-darwin-arm64.sha256
            ./bin/validator-linux-amd64
            ./bin/validator-linux-amd64.sha256
            ./bin/validator-windows-amd64
            ./bin/validator-windows-amd64.sha256
            ./sbom-validator.spdx.json