name: Release

on:
  push:
    branches:
      - main
      - '[0-9]+.[0-9]+.x'

defaults:
  run:
    shell: bash

jobs:
  release-please:
    permissions:
      contents: write  # for google-github-actions/release-please-action to create release commit
      pull-requests: write  # for google-github-actions/release-please-action to create release PR
    runs-on: [self-hosted, Linux, X64, validator]
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - uses: googleapis/release-please-action@7987652d64b4581673a76e33ad5e98e3dd56832f # v4
        id: release
        with:
          token: ${{ secrets.PAT }}
          
  build-binaries:
    if: needs.release-please.outputs.releases_created == 'true'
    needs:
      - release-please
    runs-on: [self-hosted, Linux, X64, validator]
    permissions:
      contents: write
      packages: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          submodules: recursive

      - name: Set up Go
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5
        with:
          cache: false
          go-version-file: go.mod

      - name: Build binaries
        run: |
          VERSION_SUFFIX="" make build-release

      - name: Generate SBOM
        uses: anchore/sbom-action@ab9d16d4b419c9d1a02df5213fa0ebe965ca5a57 # v0.17.1
        env:
          SBOM_NAME: validator-linux-amd64-${{ needs.release-please.outputs.tag_name }}
        with:
          file: ./bin/validator-linux-amd64
          artifact-name: sbom-validator
          output-file: ./sbom-validator.spdx.json

      - name: Attach artifacts to release
        uses: softprops/action-gh-release@c062e08bd532815e2082a85e87e3ef29c3e6d191 # v2
        with:
          tag_name: ${{ needs.release-please.outputs.tag_name }}
          files: |
            ./bin/validator-darwin-arm64
            ./bin/validator-darwin-arm64.sha256
            ./bin/validator-linux-amd64
            ./bin/validator-linux-amd64.sha256
            ./bin/validator-windows-amd64
            ./bin/validator-windows-amd64.sha256
            ./sbom-validator.spdx.json